body {
	color: #839496 ;
	background: #002b36 ;
	margin-bottom: 200px ;
    	font-family: sans-serif ;
}

a {
	color: #268bd2 ;
	text-decoration: none ;
}

a:visited {
	color: #d33682 ;
}

a:hover {
	color: #2aa198 ;
	text-decoration: underline ;
}

h1 {
	text-align: center ;
	color: #dc322f ;
}

h2 {
	text-align: left ;
	color: #839496 ;
}

h3 {	
	text-align: center ;
	color: #b58900 ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

main > article {
	background: #073642 ;
	margin-bottom: 0 ;
	padding: 1em ;
	border-color: #268bd2 ;
	border-width: 0.5em 0.5em 0.5em 0.5em ;
	border-style: solid ;
	border-radius: 20px ;
	margin: auto ;
}

img {
	max-width: 90% ;
}

header h1 {
	font-size 40px ;
}

footer {
	text-align: center ;
	clear: both ;
}

.profile {
	text-align: center ;
	max-height: 90% ;
	float: right ;
	padding: 5px ;
}
.profile img {
	max-height: inherit ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}
#nextprev {
        /* The container for both the previous and next articles. */
}
#prevart {
        float: left ;
        text-align: left ;
}
#nextart {
        float: right ;
        text-align: right ;
}
#nextart,#prevart {
        max-width: 33% ;
}
